<!doctype html>
<html lang="en" ng-app="ShoppingList">
  <head>
    <title>Shopping List Check Off</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div
  ng-controller="ShoppingListBoughtController as bought"
  class="row">

    <!-- To Buy List -->
    <div
    ng-controller="ShoppingListToBuyController as toBuy"
    class="col-md-6">
      <h2 ng-show="toBuy.getItems().length>0">To Buy:</h2>
      <ul>
        <li ng-repeat="item in toBuy.getItems()">
          Buy {{item.quantity}} {{item.name}}
          <button
          ng-click="bought.addItem(toBuy.removeItem($index))"
          class="btn btn-default">
            <span class="glyphicon glyphicon-ok"></span> Bought
          </button>
        </li>
      </ul>
      <div
       ng-hide="toBuy.getItems().length>0"
       class="emptyMessage">
       Everything is bought!
     </div>
    </div>

    <!-- Already Bought List -->
    <div
    class="col-md-6">
     <h2
     ng-show="bought.getItems().length>0">
      Already Bought:
     </h2>
     <ul>
       <li ng-repeat="item in bought.getItems()">
         Bought {{item.quantity}} {{item.name}}
       </li>
     <div
     ng-hide="bought.getItems().length>0"
     class="emptyMessage">
      Nothing bought yet.
    </div>
    </div>
  </div>
</div>

</body>
</html>
